html {
    height: 100%;
    width: 100%;
}

body {
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #000398, #23D5AB);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Header {
    text-align: center;
}

#Logo{
    color: #FFD700CF;
    font-family: "Comic Sans MS";
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

#LogoSearch {
    font-family: "Segoe UI";
    font-size: 20pt;
    margin-right: 5px;
    text-align: center;
}

#ChoiceStatus {
    appearance: none;
    background-color: #FFFFFF00;
    border: 2px #FFD700DF solid;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFD700CF;
    column-fill: auto;
    -moz-column-fill: auto;
    font-family: "Comic Sans MS";
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 220px;
}

#ChoiceStatus option {
    background-color: #000064CF;
    text-align: center;
}

#ChoiceBase {
    appearance: none;
    background-color: #FFFFFF00;
    border: 2px #FFD700DF solid;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFD700CF;
    column-fill: auto;
    -moz-column-fill: auto;
    font-family: "Comic Sans MS";
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 150px;
}

#ChoiceBase option{
    background-color: #000064CF;
    text-align: center;
}

#Statistics {
    border: 2px #FFD700DF solid;
    border-radius: 15px;
    color: #FFD700CF;
    font-family: "Comic Sans MS";
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10px;
}

#StatisticsFind, 
#StatisticsVAK, 
#StatisticsRSCI {
    color: #FFD700CF;
    font-family: "Comic Sans MS";
    font-size: 14pt;
    font-weight: bold;
}

.Database {
    border: 1px solid #000000CF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.Database th,
.Database tr,
.Database td {
    border: 1px solid #000000CF;
    font-family: "Segoe UI";
    font-size: 12pt;
    padding: 3px;
    text-align: center;
}

.Database a,
.Database a:active,
.Database a:link,
.Database a:visited,
.Database a:hover {
	color: #0000AA;
    text-decoration: none;
}

.Title {
    background-color: #DCDCDCCF;
    border: 1px solid #000000CF;
    text-align: center;
    font-weight: bold;
}

.Subtitle td {
    border: none;
}

.Search {
    border: 1px solid #FFFF00CF;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #FFFF8CCF;
    font-family: "Segoe UI";
    font-size: 11pt;
    margin-top: 3px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
}

#SearchId,
#SearchAuthor,
#SearchType,
#SearchName,
#SearchPlace,
#SearchBase,
#SearchDate,
#SearchPages {
    width: 90%;
}

.GetBiblio {
    background-color: transparent;
    background-image: url("Data/File.png") no-repeat;
    border: none;
    color: #FF0000CF;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    text-align: center;
    width: 24px;
}

.GetFile,
.GetFile a,
.GetFile a:active,
.GetFile a:hover,
.GetFile a:link,
.GetFile a:visited {
    background-color: transparent;
    background-image: url("Data/File.png") no-repeat;
    border: none;
    color: #FF0000CF;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    text-align: center;
    width: 24px;
}

.Id {
    font-weight: bold;
    width: 80px;
}

.Author {
    width: 160px;
}

.Type {
    width: 160px;
}

.Name {
    width: 350px;
}

.Place {
    width: 350px;
}

.Base {
    width: 60px;
}

.Date {
    width: 60px;
}

.Pages {
    width: 60px;
    font-weight: bold;
}

.Biblio {
    display: none;
}

.P0 {
    background-color: #C6E0B4CF;
}

.P1 {
    background-color: #A6E395CF;
}

.P2 {
    background-color: #C4E59FCF;
}

.R1 {
    background-color: #FFD966CF;
}

.R2 {
    background-color: #FFE699CF;
}

.W1 {
    background-color: #F4B084CF;
}

.W2 {
    background-color: #F8CBADCF;
}

.Footer {
    background-color: #DCDCDCCF;
    border-radius: 15px;
    font-family: "Comic Sans MS";
    font-size: 21px;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
